body {
    background-image: url('login-bg1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    background-color: #f2f4f8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 32px;
    padding-top: 100px;
    font-weight: 600;
    color: #ede2e2;
    margin-bottom: 20px;
    padding-right: 780px;
}

.form {
    background-color: transparent;
    border: 2px solid #d2bfbf;
    border-radius: 12px;
    padding: 26px 30px;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: -600px;
}

label {
    font-weight: 500;
    color: #fff;
}

input {
    padding: 15px;
    font-size: 17px;
    border-radius: 8px;
    color: #000000;
  
}

button {
    margin-top: 10px;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    background: #6b4a2b;
    color: white;
    font-weight: 500;
    cursor: pointer;
    
}
